<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="header">
      <% if current_user %>
        <span>Logged in as: <%= current_user.email %></span>
        <%= button_to(
            "Log Out",
            destroy_user_session_path,
            method: :delete
          ) %>      
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
